.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.div-design {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 1000px;
  margin: auto;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.design {
  text-decoration: none;
  font-size: 30px;
}